@keyframes moveBackground {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.hero {
  position: relative;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  height: 60vh;
  border-radius: 0;
  transition: margin 0.5s ease-out, border-radius 0.5s ease-out;
  background-size: cover;
  background-repeat: no-repeat; 
  animation: moveBackground 30s linear infinite;
  z-index: 3;
  overflow: hidden;
  padding: 10rem 0 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: #000;
    gap: 1rem;
}

.hero-title {
  font-family: "Orbitron", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  padding: 0 2rem .4rem;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 2px 4px 0px #00000067;
  transform: rotate(4deg);
}

  .hero-text {
    font-family: "Orbitron", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    padding: .4rem 2rem .4rem;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 2px 4px 0px #00000067;
    transform: rotate(-2deg);
  }

  @media (max-width: 950px) {

    .hero {
      padding: 17rem 0 0;
    }

    .hero-title {
      font-size: 2rem;
      font-weight: 700;
      padding: 0 2rem .4rem;
    }
    
      .hero-text {
        
        font-size: 1.2rem;
        font-weight: 700;
        padding: .4rem 2rem .4rem;
       
      }
  }