.product-page {
    margin: 0 auto;
    margin-top: 7rem;
    min-width: 300px;
    max-width: 1420px;
    padding: 0 4rem;

        h1 {
            margin: 0 0 .5rem 0;
        }

        .price {
            margin: .5rem 0 1rem 0;
        }

        .product-image {
            width: 100%;
            max-width: 500px;
            height: auto;
            object-fit: cover;
        }
}